body
{background-image: url(images/haikei.png);
    margin: 0 auto;
     text-align: center}


.a {background-color:#051e88;
    font-size: 80px;
            color: white;
            
    width:600px;
            margin:auto;
    font-weight: bolder}


.b{list-style: none;
    font-size: 40px;
    display: flex;
   flex-wrap: wrap;
   justify-content: center}

.b,.c{margin-top: 20px}

.b1
{outline: 4px solid black;
background-color: cornsilk;
margin:10px}

.c{background-image: url(images/honmaruhaku.png);
  background-size: contain;
 background-repeat: no-repeat}


.setmei1,.setmei2
   {font-weight: bolder;
    color:white;
    text-shadow: 1px 0 5px black }

.setmei1{font-size:60px;
        background-color: #53059b}
.setmei2{font-size:40px}

img:hover{background-color: azure}

.container
{display: flex;justify-content: center
}

.heian,.edo,.sengoku,.kama-muro
{text-align: center;
    font-size: 40px;
font-weight: bold;
border:10px solid black;
color:black
}

.heian
{background-color: coral}

.edo
{background-color: pink;}

.sengoku
{background-color: cadetblue}

.kama-muro
{background-color: darkgrey}



